<section class="partial notsupported">
    <span>Your browser does not support the @((string)Model) element!</span>
    <div>
        <a href="http://www.google.com/chrome/">chrome</a>
        <a href="http://www.mozilla.org/en-US/firefox/new/">firefox</a>
    </div>
</section>
