<link href="~/Content/Modules/dragdrop.css" rel="stylesheet" />

@{
    ViewBag.Title = "Drag 'n' Drop";
    ViewBag.Description = "HTML5 provides draggable and droppable markup and events for all elements.";
    ViewBag.Id = "DragDrop";

    ViewBag.Links = Helper.GetLink("basics", "http://www.html5rocks.com/en/tutorials/dnd/basics/");
}

<section class="partial dragdrop">
    
</section>

<script src="~/Scripts/Modules/dragdrop.js"></script>