@{
    ViewBag.Title = "Drag 'n' Drop - Move Content";
    ViewBag.Description = "Simple moving of content around inside the page.";

    ViewBag.HasParent = true;
}

<section class="partial dragdrop movecontent">
</section>

<script src="~/Scripts/Modules/dragdrop.js"></script>